@import 'main';
:host{
    height: 100%;
}
.tab-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    .tab-container{
        flex:1
    }
    .tab-btn-row-shell{
        flex:none;
        height: 55px;
        padding-left: 10px;
        padding-right: 10px;
        .tab-btn-row{
            display: flex;
            justify-content: space-between;
            .tab-btn{
                width: 25px;
                height: 25px;
            }
        }
    }
}
