@import 'main';
:host{
    height: 100%;
}
.view-wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    .tab-container{
        flex:1
    }
    .tab-btn-row{
        flex:none;
        height: 50px;
    }
}
