@import 'main';
.device-outline{
    width: 435px * $demoShellScaleRate;
    height: 847px * $demoShellScaleRate;
    background-color: #fff;
    border-radius: 50px * $demoShellScaleRate;
    border:5px*$demoShellScaleRate solid rgba(164, 206, 232,.3);
    box-shadow:2px*$demoShellScaleRate 2px*$demoShellScaleRate 60px*$demoShellScaleRate 30px*$demoShellScaleRate rgba(203, 203, 203,.3);
    .display-panel{
        padding:80px*$demoShellScaleRate 30px*$demoShellScaleRate 100px*$demoShellScaleRate 30px*$demoShellScaleRate;
        height: 100%;
        position: relative;
        .top-deco{
            position: absolute;
            top: 40px*$demoShellScaleRate;
            left: 0;
            right: 0;
            font-size: 0;
            width: 90px*$demoShellScaleRate;
            margin: 0 auto;
            .eleL{
                display: inline-block;
                width: 10px*$demoShellScaleRate;
                height: 10px*$demoShellScaleRate;
                border-radius: 50%;
                background-color :rgba(188, 229, 255, 0.3);
            }
            .eleR{
                margin-left: 10px*$demoShellScaleRate;
                display: inline-block;
                width: 70px*$demoShellScaleRate;
                height: 10px*$demoShellScaleRate;
                border-radius: 5px*$demoShellScaleRate;
                background-color :rgba(188, 229, 255, 0.3);
            }
        }
        .screen-view{
            height: 100%;
            width: 100%;
            border: 3px*$demoShellScaleRate solid rgba(192, 235, 255, 0.201);
            background-color: rgba(238, 237, 237, 0.3);
            border-radius: 5px*$demoShellScaleRate;
        }
        .bot-deco{
            display: inline-block;
            position: absolute;
            bottom: 15px*$demoShellScaleRate;
            margin:0 auto;
            left: 0;
            right: 0;
            width: 65px*$demoShellScaleRate;
            height: 65px*$demoShellScaleRate;
            border-radius: 50%;
            border: 3px*$demoShellScaleRate solid rgba(204, 232, 245, 0.201);
        }
    }
}