<ng-container [ngSwitch]="btnStyle">

    <!-- 第一種tab按鈕 start -->
    <ng-template [ngSwitchCase]="'tasks'">
        <div class="btn-wrapper" [ngClass]="btnStyle" [class.active]="isActive">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </ng-template>
    <!-- 第一種tab按鈕 end -->

    <!-- 第二種tab按鈕 start -->
    <ng-template [ngSwitchCase]="'time'">
        <div class="btn-wrapper" [ngClass]="btnStyle" [class.active]="isActive">
            <span class="outer">
                <div class="part bell">
                    <span></span>
                    <span></span>
                </div>
                <div class="part pointer">
                    <span></span>
                    <span></span>
                    </div>
                <div class="part foot">
                    <span></span>
                    <span></span>
                </div>
                
            </span>
        </div>
    </ng-template>
    <!-- 第二種tab按鈕 end -->

    <!-- 第三種tab按鈕 start -->
    <ng-template [ngSwitchCase]="'report'">
        <div class="btn-wrapper" [ngClass]="btnStyle" [class.active]="isActive">
            <span class="outer">
                <span class="line">
                    <svg width="100%" height="100%">
                            <line x1="-1" y1="50%" x2="6" y2="20%" />
                            <line x1="6" y1="20%" x2="12" y2="40%" />
                            <line x1="12" y1="40%" x2="20" y2="0%" />
                    </svg>    
                </span>
                <span class="block1"></span>
                <span class="block2"></span>
                <span class="block3"></span>
            </span>
        </div>
    </ng-template>
    <!-- 第三種tab按鈕 end -->

</ng-container>
